.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    padding: 4rem;
}

@media screen and (max-width: 500px){
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        flex-wrap: wrap;
        padding: 2rem;
    }
}