.tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #212121; 
    border-radius: 2px;
    color: #ffffff;
    padding: 0.4em 1em;
    position: absolute;
    top: 19.5em;
}

.text{
    transform: inherit;
}

.beak{
    position: absolute;
    content: " ";
    top: -15px;
    border: 10px solid;
    border-color:  transparent transparent #212121 transparent;
}